footer
{
  background-color: #49B1AF;
  text-indent: 20px;
  text-align:left;
  position: relative;
  left: 0;
  bottom: 0;
  height: 49px;
  width: 100%;
  overflow: hidden;
}

img.header_picture{
  width: 90%;
  height: 90%;

}

div.main_text{

  margin-left: 60px;
  margin-right: 60px;
  margin-top: 100px;
  margin-bottom: 100px;

  font-size: 12;
  font: font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight:normal;



}

img.art_page_images{


  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;

  height: 50%;
  width: 50%;


}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}


body{

  margin:60px

}

#primary_nav_wrap
{
	margin-top:15px
}

#primary_nav_wrap ul
{
	list-style:none;
	position:relative;
	float:right;
	margin:0;
  margin-right: 48px;
	padding:15px;
}

#primary_nav_wrap ul a
{
	display:block;
  border-style:inset;
  text-decoration: none;
	color:#49B1AF;
	font-weight:700;
	font-size:14px;
  line-height:32px;
	padding:0 15px;
	font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif
}

#primary_nav_wrap ul li
{
	position:relative;
	float:left;
	margin:0;
	padding:0
}

#primary_nav_wrap ul li.current-menu-item
{
  text-decoration: none;
}

#primary_nav_wrap ul li:hover
{
	background:#61568D

}

#primary_nav_wrap ul ul
{
	display:block;
	position:absolute;
	top:100%;
	left:0;
	background:#856;
	padding:5px
}

#primary_nav_wrap ul ul li
{
	float:none;
	width:100px
}

#primary_nav_wrap ul ul a
{
	line-height:120%;
	padding:10px 15px
}

#primary_nav_wrap ul ul ul
{
	top:0;
	left:100%
}

#primary_nav_wrap ul li:hover > ul
{
	display:block
}
