.sparkle {
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: #ff69b4; /* Hot Pink */
    border-radius: 50%; /* Makes the element circular */
    pointer-events: none; /* So the cursor doesn't interact with sparkles */
    opacity: 1;
    transition: transform 0.5s, opacity 0.5s;
    z-index: 9999; /* Ensuring it's above other content */
}

@font-face {
    font-family: 'Arial';
    /* Assuming you have a source for the Futura font */
    src: url('path-to-your-futura-font-file.woff2') format('woff2');
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #282a36; /* Pastel goth primary color */
    color: #f8f8f2; /* Text color */
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

.draw {
    height: 50%;
    width: 50%;
}

img {
    width: 100%;
    /* Pink tint in style of specific images */
    border-radius: 10px;
    margin: 20px 0;
}

a {
    color: #ff79c6; /* Pastel goth link color */
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    color:#eee
}

h1 {
    text-align: center;
    font-size: 8.5vmin; 
    margin: auto;
}

h2 {
    font-size: 5vmin; 
    margin: auto;
 }

/*Button grid menu*/
.grid-menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px; /* adjust for spacing between buttons */
}

/*Button grid menu for bigger items*/
.grid-menu-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px; /* adjust for spacing between buttons */
}

.des-logo-icon {
    display: block;
    margin-left: auto;
    margin-right: auto;

    width: 65%;
    height: 65%;
}

.des-drums { 
    filter: sepia(50%) hue-rotate(270deg);
}

/*Cardi B button image styles */
.cardibtn {
    display: block;
    margin: auto; 
    filter: sepia(50%) hue-rotate(270deg);
    width: 90%;
}

/* Button Styles*/
button {
    background-color: #eee;
    border: none;
    cursor: pointer;
    color: hotpink;
    font-size: larger;
    font-weight: bolder;
    width: 100%; /* adjust to desired square size */
    height: 100px; /* adjust to desired square size */
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: hotpink;
    color: white;
}

.home-header{
    margin-bottom: 10px;
}